<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858468987379-8u8uqlfttj2c3bpkbuo2u4f1vm4t7f2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858468987379-8u8uqlfttj2c3bpkbuo2u4f1vm4t7f2e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>858468987379-677muvn6j4urfj6tv8e34vaeo36illon.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0i4KhJGT8KPNJhwue6nUDFT9IIe0cJU0</string>
	<key>GCM_SENDER_ID</key>
	<string>858468987379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spagreen.yoori</string>
	<key>PROJECT_ID</key>
	<string>yoori-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>yoori-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858468987379:ios:b45c3731253a0c2c012286</string>
</dict>
</plist>